$jobtitle-color:#3D3D3D;
$little-color:#999;
$border:2px solid #e5e5e5;
.first_joblist{
  padding: 18px 37.5px 150px 37.5px;
  .recommen_job,.recommen_new{
    position: relative;
    margin-top: 10px;
    text-align: center;
    height: 80px;
    img{ 
      position: absolute;
      top: 50%;
      left:240px;
      margin-top: -26px;
    }
    span{
      // display: inline-block;
      line-height: 80px;
      color: $jobtitle-color;
      font-size: 32px;
      font-weight: bold;
    }
  }
  .joblist_content{
    ul{ 
      li{
        width: 100%;
        height: 150px;
        a{
          color: #9B89ED;
        }
      }
      .joblist_left{
        float: left;
        width: 112px;
        height: 112px;
        margin-top: 20px;
        margin-right: 40px;
      }
      .joblist_right{
        margin-top: 28px;
        float: left;
        width: 520px;
        height: 100px;
        .joblist_right_top{
          color: $jobtitle-color;
          font-size: 32px;
          font-weight: bold;
        }
        .joplist_right_bottom{
          margin-top: 15px;
          font-size: 26px;
        }
      }
    }
  }
  .new_content{
    font-size: 28px;
    color: $jobtitle-color;
    .recommen_new{
      img{ 
        position: absolute;
        top: 50%;
        left:240px;
        margin-top: -28px;
      }
    }
    ul{
      width: 100%;
      li{
        width: 100%;
        padding: 16px 0;
        border-bottom: $border;
        overflow: hidden;
        font-size: 28px;
        color: #212529;
        font-weight: bold;
        span{
          float: left;
        }
        b{
          float: right;
          margin-right: 10px;
          margin-top: 12px;
          width: 12px;
          height:12px;
          border-top: 4px solid #e5e5e5;
          border-right: 4px solid #e5e5e5;
          transform: rotate(45deg);
        }
      }
    }
  }
}