.select_position{
      // padding: 10px 0 0 10px;
  .company_msg{
      padding: 30px;
      font-size: 32px;
      a{
       .company_title{
         font-weight: bold;
         font-size: 40px;
         color: black;
         margin-right: 30px;
       }
      }
      .delete_item{
         position: absolute;
         right: 20px;
       }
  }
}