.todo_tab{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}
.todo_tab .todo_item{
  padding:10px 0 3px;
  position: fixed;
  bottom: 0;
  display:flex;
  width: 100%;
  font-size: 12px;
  border-top: 1px #D5DDFB solid;
  background: #ffffff;
}

.todo_item span{
  display: inline-block;
  flex: 1;
  text-align: center;
}
.todo_item .img_clear{
  display:inline-block;
  width: 28px;
  height: 28px; 
  background: url('../../image/clear.svg') center no-repeat;
}
.clear .acctived{
  display:inline-block;
  width: 28px;
  height: 28px; 
  background: url('../../image/clear(1).svg') center no-repeat;
}



