
    .city_search{
      position: absolute;
      top: 20px;
      right:15px ;
      display: inline-block;
      height: 30px; 
      text-align: center;
      font-size: 14px;
    }
    .index .mint-swipe {
      background: #ebebeb;
    }
    .mint-swipe-items-wrap {
      padding-bottom: 40%; 
    }
    .index .mint-swipe-item img{
      width: 100%;
      height: auto;
    }
 
